/* Variables */
:root {
    --primarydarken: rgba(22, 122, 87, 1);
    --primarymain: rgba(86, 158, 137, 1);
    --netraldarken: rgba(42, 29, 31, 1);
    --netrallight: rgba(137, 137, 137. 1);
    --netrallighten: rgba(196, 196, 196, 1);
    --netralultralight: rgba(245, 245, 245, 1);

    /* --foundation-netralnetral-300: rgba(122, 122, 122, 1); */
    --black: rgba(0, 0, 0, 1);
    --white: rgba(255, 255, 255, 1);

    --font-size-m: 14px;
    --font-size-l: 16px;
    --font-size-xl: 18px;
    --font-size-xxl: 24px;
    --font-size-xxxl: 46px;

    --font-family-inter: 'Inter';
}

/* Global Classes */
.headline-semibold-2 {
    /* Headline/Semibold/2 */
    font-family: var(--font-family-inter);
    font-size: var(--font-size-xxxl);
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    letter-spacing: 0px;
}

.headline-semibold-4 {
    /* Headline/Semibold/4 */
    font-family: var(--font-family-inter);
    font-size: var(--font-size-xl);
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    letter-spacing: 0px;
}

.body-regular-1 {
    /* Body/Regular/1 */
    font-family: var(--font-family-inter);
    font-size: var(--font-size-xxl);
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 0.5px;
}

.body-regular-2 {
    /* Body/Regular/2 */
    font-family: var(--font-family-inter);
    font-size: var(--font-size-l);
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 0.5px;
}

.body-regular-3 {
    /* Body/Regular/3 */
    font-family: var(--font-family-inter);
    font-size: var(--font-size-m);
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 0.5px;
}

.body-semibold-1 {
    /* Body/Semibold/1 */
    font-family: var(--font-family-inter);
    font-size: var(--font-size-xl);
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    letter-spacing: 0.5px;
}

.body-semibold-2 {
    /* Body/Semibold/2 */
    font-family: var(--font-family-inter);
    font-size: var(--font-size-l);
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    letter-spacing: 0.5px;
}

.body-semibold-3 {
    /* Body/Semibold/3 */
    font-family: var(--font-family-inter);
    font-size: var(--font-size-m);
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    letter-spacing: 0.5px;

}

.align-text-middle {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* color: var(--primarydarken); */
}

.align-text-left {
    display: flex;
    flex-direction: column;
    justify-content: left;
}

.button-primary {
    width: 100%;
    border-radius: 10px;
    text-align: center;
    color: var(--white);

    font-family: var(--font-family-inter);
    font-size: var(--font-size-m);
    font-style: normal;
    font-weight: 600;
    letter-spacing: 0.5px;
    padding-block: 8px;

    background-color: var(--primarymain);
    /* display: flex;
    justify-content: center;
    position: relative; */
}

.button-secondary {
    width: 100%;
    border: 1px solid var(--primarydarken);
    border-radius: 10px;
    text-align: center;
    color: var(--primarydarken);
    padding: 8px 24px;

    font-family: var(--font-family-inter);
    font-size: var(--font-size-m);
    font-style: normal;
    font-weight: 500;
    letter-spacing: 1.25px;
}

.left-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.card-container {
    display: flex;
    width: 739px;
    justify-content: space-between;
    align-items: flex-start !important;
    align-content: flex-start;
    row-gap: 24px;
    flex-wrap: wrap;
}

.right-container {
    display: flex;
    width: 517px;
    /* height: 968px; */
    flex-direction: column;
    align-items: center;
    flex-shrink: 0;
    border-right: 1px solid var(--netrallighten);
    border-left: 1px solid var(--netrallighten);
}

.logout {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding: 10px;
}

.logout a {
    text-decoration: none;
    color: #333;
    margin-left: 10px;
}